body {
    background-image: url(/static/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1em;
    text-align: center;
}

.button-large {
    font-size: 2.5rem;
    height: 11.25rem;
    line-height: 11.25rem;
    padding: 0 2rem;
  }

#file_upload {
    display: none;
}

#upload {
    position: absolute;
    top: 30%;
    left: 30%;
    right: 30%;
}